/*-------- Utility Styles --------*/
* {
	box-sizing: border-box;
	font-family: 'Proza Libre', sans-serif;
	border-radius: 10px 
	/* ^^^ Forces all elements to include content, padding, and border as part of their width/height calculation: 
	http://www.w3schools.com/cssref/css3_pr_box-sizing.asp */
}

h1 {
	font-size: 200%;
}

#main {
	border: 1px solid black;
	position: relative;
	margin: auto;
	width: 100%;
}

.results {
	position: relative;
	float: left;
	background-color: #C8DBB3;
}
.results h1, p {
	padding: 15px;
}

section {
	display: inline;
	overflow: auto;
	width: 400px;
}

.formSection {
	float: left;
	background-color: #E3E6EC;
}

.form {
	width: 350px;
	position: relative;
	margin: 0 auto;
}

.row {
	position: relative;
	padding: 5px 0;
}
.formGroup {
	position: relative;
	padding: 10px 0;
}

button {
	float: right;
	background-color: rgba(39, 208, 127,.5);
	width: auto;
	border: none;
	border-radius: 5px;
}

button:hover {
	background-color: rgba(39, 208, 127,1);
}

span {
	font-size: 20px;
	font-weight: 800;
}

textarea {
	height: 100px;
	border: 1px solid #CCC;
	width: 100%;
}

input {
	border: 1px solid #CCC;
}

.radio, .check {
	padding: 10px 0;
}

select {
	height: 48px;
	width: 100%;
}

#noun-1, #noun-2, #name, #verb-1, #mission {
	height: 48px;
	width: 100%;
	font-size: 18px;
}
/* 

*/

/*-------- Main Styles --------*/

/* 


*/

/*-------- Form Styles --------*/


/* 





	
	
*/


/*-------- Results Styles --------*/


/* 

*/

